.testIcon {
  transition: all 1s ease;
  display: inline-block;
  transform: scale(1.5);
}

.testIcon:hover {
  filter: grayscale(0%);
}

.testIconActive {
  transition: all 1s ease;
  display: inline-block;
  transform: scale(1.5);
  filter: grayscale(0%);
}
